 <% if @request.zendesk_number.present? %>
  <p class="govuk-body"> <%= t("fact_check_submitted.contact_you_with_zendesk_link") %>
        <%= link_to t("fact_check_submitted.zendesk_link"),
          "https://govuk.zendesk.com/tickets/#{@request.zendesk_number}",
          class: "govuk-link--no-visited-state govuk-link",
          target: "_blank",
          rel: "noopener" %>:
        </p>
      <% else %>
          <p class="govuk-body"> <%= t("fact_check_submitted.contact_you") %> </p>
      <% end %>

      <%= render "govuk_publishing_components/components/list", {
            visible_counters: true,
            items: [
              t("fact_check_submitted.when_changes"),
              t("fact_check_submitted.when_questions"),
            ],
          } %>
