<% unless heading.nil? %>
  <div class="part-heading">
    <%= render "govuk_publishing_components/components/heading", {
      text: heading,
      heading_level: 2,
      font_size: "l",
      padding: true,
    } %>
  </div>
<% end %>

<div class="compare-editions">
  <%= content %>
</div>
