<p class="govuk-body">
  <%= t("fact_check_submitted.look_at_response") %>
</p>

<% items = [
     t("fact_check_submitted.make_changes"),
     t("fact_check_submitted.send_new_content"),
   ] %>

<% if @request.zendesk_number.present? %>
  <% items << t("fact_check_submitted.rejected_contact_you_with_zendesk_link_html", zendesk_link: zendesk_ticket_link(@request)) %>
<% else %>
  <% items << t("fact_check_submitted.rejected_contact_you") %>
<% end %>

<%= render "govuk_publishing_components/components/list", {
  visible_counters: true,
  items: items,
} %>
