$govuk-page-width: 1140px;

// GOVUK Design System
@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/component_support';
@import 'govuk_publishing_components/components/back-link';
@import 'govuk_publishing_components/components/button';
@import 'govuk_publishing_components/components/error-summary';
@import 'govuk_publishing_components/components/govspeak';
@import 'govuk_publishing_components/components/heading';
@import 'govuk_publishing_components/components/inset-text';
@import 'govuk_publishing_components/components/layout-footer';
@import 'govuk_publishing_components/components/layout-for-admin';
@import 'govuk_publishing_components/components/layout-header';
@import 'govuk_publishing_components/components/skip-link';
@import 'govuk_publishing_components/components/tag';
@import "nokodiff";
@import "options_sidebar";
@import "compare-editions";
