<div class="page-title">
  <h2>
    Hello World!
  </h2>

  <h3>
    List of implemented pages
  </h3>

  <a href="/compare"> Fact check comparison </a>
  <%= link_to("Preview (opens in new tab)", preview_factcheck_path, rel:"noreferrer noopener", target:"_blank", class: "govuk-link govuk-link--no-visited-state") %>

</div>
